.button {
    border-radius: 18px;
    border: none;
    column-gap: 10px;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    padding: 25px 50px;
    transition: background-color 0.3s ease;
}

/* Primary */
.button.primary {
    background-color: #0C70F2;
    color: #fff;
}

.button.primary:hover {
    background-color: #0A5BC2;
}

/* Secondary */
.button.secondary {
    background-color: #1D1D1D;
    color: #fff;
}

.button.secondary:hover {
    background-color: #4D5053;
}

/* Outline */
.button.outline {
    background-color: transparent;
    border: 2px solid #0C70F2;
    color: #0C70F2;
}

.button.outline:hover {
    background-color: #0C70F2;
    color: #fff;
}

/* Disabled */
.button:disabled, .button:disabled>:hover {
    background-color: #ccc;
    color: #666;
    pointer-events: none;
    cursor: not-allowed;
}